#text-area {
    resize: both;
    overflow: auto;
    border: 2px solid;
    border-color: orange;
    color: orangered;
    font-size: 20px;
    padding: 20px; 
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.container {
    display: block;
    padding-left:50px;
    padding-top: 20px;
}

.mat-warn {
    background-color:palegoldenrod;
    color:orange;
    margin-left: 5px;
}
